<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.toshiba.myapplication">

    <uses-feature android:name="android.hardware.camera2" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />

    <!--주석입니까-->

   <application
       android:allowBackup="false"
       android:icon="@drawable/icon"
       android:label="CaMaP"
       android:supportsRtl="true"
       android:largeHeap="true"
       android:theme="@style/AppTheme">

       <meta-data
           android:name="com.google.android.geo.API_KEY"
           android:value="@string/google_maps_key" />

       <activity
           android:name=".SplashActivity"
           android:theme="@android:style/Theme.NoTitleBar"
           ></activity>

       <activity
           android:name=".MainActivity"
           android:label="CaMaP"
           android:theme="@style/AppTheme.NoActionBar"
           >

           <intent-filter>
               <action android:name="android.intent.action.MAIN" />

               <category android:name="android.intent.category.LAUNCHER" />
           </intent-filter>
       </activity>

   </application>

    <!--진짜주석이다-->

</manifest>